#bodyar {
	background-color: #C0C0C0;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: contain;
}

#bodytv {
	background-color: #ecf1f5;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: contain;
}

#power {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 20px;
	left: 11%;
	width: 100px;
	height: 100px;
	}
	
#fan {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 20px;
	left: 45%;
	width: 100px;
	height: 100px;
	}
	
#tempplus {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 140px;
	left: 10%;
	width: 115px;
	height: 135px;
	}

#tempminus {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 273px;
	left: 10%;
	width: 115px;
	height: 135px;
	}
	
#swinglr {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 160px;
	left: 45%;
	width: 100px;
	height: 65px;
	}

#swingupd {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 290px;
	left: 45%;
	width: 100px;
	height: 65px;
	}

	#onoff {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 20px;
	left: 31%;
	width: 110px;
	height: 110px;
	}
	
#vplus {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 140px;
	left: 10%;
	width: 135px;
	height: 165px;
	}

#vminus {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 300px;
	left: 10%;
	width: 135px;
	height: 165px;
	}
	
#cplus {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 140px;
	left: 50%;
	width: 140px;
	height: 165px;
	}

#cminus {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 305px;
	left: 50%;
	width: 138px;
	height: 165px;
	}
	
#mute {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 455px;
	left: 33%;
	width: 100px;
	height: 100px;
	}
	
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #bababa;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #a9a9aa}

.button:active {
  background-color: #898888;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
