.prime{ 
margin-top: 50px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 50px;

 }

.btn{
margin-top: 10px;
margin-left: 10px;	
margin-bottom: 10px;
margin-top: 10px;
	}
.btn1{

	
margin-left:120px;
	}
.btn2{
margin-left: 5px;	
	
}
.selecao{
margin-left: 10px;
margin-right: 10px;	
	
}
.centro{
margin-left: 100px;
margin-right: 20px;
margin-top: 20px;
padding-right: 5px;
	
}
.voltar{
margin-top:140px;
margin-left: 75%;	

}
.imag{
	
margin-top: 5px;	
	
}